body {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    margin: 50;                
    flex-direction: column;   
    text-align: center;       
}


h2 {
    color: #333;
}

#paypal-button-container {
    margin-top: 20px;
}
